<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Strust_web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 过滤器，过滤JSP页面是否登陆 -->
	<filter>
		<!-- 过滤器的名字，自己命名 -->
		<filter-name>loginJSPFilter</filter-name>
		<!-- 定义一个过滤的类，需要实现Filter类 -->
		<filter-class>com.sweb.acion.loginJSPFilter</filter-class>
	</filter>
	<!-- 把定义好的JSP过滤器 映射到要过滤的文件或文件夹 -->
	<filter-mapping>
		<filter-name>loginJSPFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
</web-app>